# Ignore everything
*

# But not these files...
!.gitignore
!README.md

.devcontainer

# Ignore everything in .devcontainer except specific files
.devcontainer/*
!.devcontainer/devcontainer.json
!.devcontainer/setup.sh
!.devcontainer/repo_config.example.json
!.devcontainer/scripts/*
!.devcontainer/hooks/*

!.vscode
!.github

# Re-ignore any potential .git directories
**/.git