# Ignore everything
*

# But not these files...
!.gitignore
!README.md

.devcontainer

# Ignore everything in .devcontainer except specific files
.devcontainer/*
!.devcontainer/devcontainer.json
!.devcontainer/setup.sh
!.devcontainer/commit-msg
!.devcontainer/pre-push
!.devcontainer/prepare-commit-msg
!.devcontainer/prepare-commit-msg.py
!.devcontainer/.env.example
!.devcontainer/git-new-branch.sh
!.devcontainer/repo_config.example.json
!.devcontainer/scripts/*
!.devcontainer/hooks/*

!.vscode

# Re-ignore any potential .git directories
**/.git